<div class="container-fluid">
                    <div class="second-title">
                        <h2>Why Choose Us?</h2>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="picture-container row col-md-offset-0">
                        <div class="picture col-md-4 ">
                            <img src="/assets/img/images-artim-116.jpg" class="picture1" alt="">
                            <div class="button-catalogue">
                                <button type="button" class="button3" >
                                    <span>
                                        Catalogue                             
                                    </span>
                                        <i class = "fa fa-download fa-2x" ></i>
                                </button>
                            </div>
                            <div class="button-contact">
                                <button type="button" class="button3">
                                    <i class = "fa fa-pencil fa-2x" ></i>
                                        <span>
                                            Contact Form
                                        </span>
                                </button>
                            </div>
                        </div>
                        <div class="picture col-md-4">
                            <img src="/assets/img/images-artim-115.jpg" class="picture1" alt="">
                            <h4>What We Believe</h4>
                            <p>Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher quinoa. Chia single-origin coffee Etsy, locavore Shoreditch twee whatever messenger.</p>

                        </div>
                        <div class="picture col-md-4">
                            <img src="/assets/img/images-artim-113.jpg" class="picture1" alt="">
                            <h4>Enjoy Nature</h4>
                            <p>Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher quinoa. Chia single-origin coffee Etsy, locavore Shoreditch twee whatever messenger.</p>
                        </div>

                    </div>
                </div>
                
