                <div class="container-fluid">
                    <div class="youtube-part row">
                        <div class="font-part col-md-6">
                            
                             <img src="/assets/img/pic.png" alt="">
                        </div>
                        <div class="youtube col-md-6">
                            <img src="/assets/img/hom1-video3.jpg" class="video" alt="">
                        </div>
                    </div>
                </div>
