<main class = "page-content">
            <section class = "blocks">
                <div class = "container-fluid">
                    <div class = "page-blocks row ">
                        <div *ngFor='let block of myarray'  [class]="block.className">
                            
                            <i [class] =  "block.clName" ></i>
                            <h3> {{ block.title }}</h3>
                            <p> {{ block.text }}</p>
                            
                        </div> 
                        
                        <!--<div class = "block col-md-3">
                            <i class = "fa fa-filter fa-4x"></i>
                            <h3>Easy To Use</h3>
                            <p>Banjo post-ironic master cleanse hoodie plaid put a bird</p>
                        </div>
                        <div class = "block col-md-3" >
                            <i class = "fa fa-magic fa-4x" ></i>
                            <h3>Enjoy Nature</h3>
                            <p>Master cleanse banjo post-ironic hoodie plaid put a bird</p>
                        </div>
                        <div class = "block col-md-3" >
                            <i class = "fa fa-envira fa-4x"></i>
                            <h3>Breath Colour</h3>
                            <p>Chia single-origin coffee Etsy, locavore Shoreditch twee whatever</p>
                        </div>
                        <div class = "block col-md-3">
                            <i class = "fa fa-signal fa-4x"></i>
                            <h3>How We Work</h3>
                            <p>Etsy, locavore Shoreditch twee whatever messenger.</p>
                        </div>-->
                    </div>
                </div>
            </section>
</main>