<header class = "main-header">
            <div class = "container-fluid">
                <div class = "social-links row">
                   

                    <div class = "links col-md-8">
                        <a [routerLink] = 'linkForm'><i class = "fa fa-facebook"></i></a>
                        <a routerLink="/"><i class = "fa fa-twitter"></i></a>
                        <a routerLink="/"><i class = "fa fa-google-plus"></i></a>
                        <a routerLink="/"><i class = "fa fa-instagram"></i></a>
                        <a routerLink="/"><i class = "fa fa-linkedin"></i></a>
                        <a routerLink="/"><i class = "fa fa-pinterest"></i></a>
                        <a routerLink="/"><i class = "fa fa-youtube"></i></a>
                    </div>
                    <div class = "search">
                       <div class = "icon col-md-1 col-md-offset-3">
                           <a [routerLink] = 'linkForm'><i class = "fa fa-search"></i></a>
                       </div>
                   </div>
                </div>
                <div class = "top-bar row">
                    <nav class = "navbar">
                        <div class = "navbar-header col-md-2">
                            <a [routerLink] = 'linkForm' class = "navbar-brand">
                                <img src = "/assets/img/new-logo-site.png" />
                            </a>
                        </div>
                        <div class = "nav-top col-md-9 col-md-offset-1" style = "padding-left:80px;">
                            <ul class = "nav navbar-nav">
                                <li><a [routerLink] = 'linkForm'>Home</a></li>
                                <li><a [routerLink] = 'linkForm'>Headers</a></li>
                                <li><a [routerLink] = 'linkForm'>About us</a></li>
                                <li><a [routerLink] = 'linkForm'>Services</a></li>
                                <li><a [routerLink] = 'linkForm'>Portfolio</a></li>
                                <li><a [routerLink] = 'linkForm'>Elements</a></li>
                                <li><a [routerLink] = 'linkForm'>Shop</a></li>
                                <li><a [routerLink] = 'linkForm'>Blog</a></li>
                                <li><a [routerLink] = 'linkForm'>Features</a></li>
                                <li><a [routerLink] = 'linkForm'>Sliders</a></li>
                                <li><a [routerLink] = 'linkForm'>Contact</a></li> 
                            </ul>
                        </div>
                    </nav>
                </div>
                
            </div>
            <div class="banner">
            <div class = "banner-content container">
                <div class = "jumbotron">
                        <h1>ARTIM THEME</h1>
                        <p>everything you need for a beautiful website</p>
                        <p>
                            <button type="button" class="button1">theme feature</button>
                        </p>
                </div>
            </div>
        </div>
        </header>
        