<div class="container-fluid">
                    <div class="perfect-toolbox row">
                        <div class="toolbox-text col-md-4">
                            <h2>Perfect Toolbox</h2>
                            <p>
                                It is a long established fact that 
                                a reader will be distracted by the 
                                readable content of a page when looking at its layout.
                            </p>
                            <p>
                                Fact that a reader will be distracted
                                 by the readable content of a page when
                                  looking at its layout. Reader will be 
                                  distracted by the readable content of 
                                  a page when looking at its layout.
                            </p>
                        </div>
                        <div class="toolbox1-block1 col-md-4">
                            <div class="fire-block row">
                                <div class="fire-text">
                                    <i class = "fa fa-fire fa-3x" ></i>
                                </div>
                                <div class="fire-text fire-text-h2-p">
                                    <h3>Enjoy Nature</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur 
                                        adipiscing elit, sed do eiusmod tempor 
                                        incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>

                            </div>
                            <div class="magic-block row">
                                <div class="fire-text">
                                    <i class = "fa fa-magic fa-3x" ></i>
                                </div>
                                <div class="fire-text fire-text-h2-p">
                                    <h3>
                                        Breath Colour
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, 
                                        consectetur adipiscing elit,
                                         sed do eiusmod tempor
                                          incididunt ut labore et 
                                          dolore magna aliqua.

                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="toolbox1-block2 col-md-4" >
                            <div class="fire-block row">
                                <div class="fire-text">
                                    <i class = "fa fa-laptop fa-3x" ></i>
                                </div>
                                <div class="fire-text fire-text-h2-p">
                                    <h3>How We Work</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>

                            </div>
                            <div class="magic-block row">
                                <div class="fire-text">
                                    <i class = "fa fa-tint fa-3x" ></i>
                                </div>
                                <div class="fire-text fire-text-h2-p">
                                    <h3>
                                       Campaign
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
